



<ActionBar title="Contact" class="action-bar">
        <NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>

</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <GridLayout class="m-5" rows="auto">
            <StackLayout class="p-10 border">
                <Label class="h3" height="40" text="Contact Information"></Label>
                <StackLayout class="p-l-20">
                    <StackLayout class="p-l-20">
                            <Label text="121, Clear Water Baydsaw Road" ></Label>
                            <Label text="Clear Water Bay, Kowloon" ></Label>
                            <Label text="HONG KONG" ></Label>
                            <Label text="Tel: +852 1234 5678" ></Label>
                            <Label text="Fax: +852 8765 4321" ></Label>
                            <Label text="Email:confusion@food.net" ></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>



<!-- <ActionBar title="Contact Us" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <ScrollView orientation="vertical" tkMainContent class="page">
        <GridLayout class="m-5" rows="auto">
            <StackLayout row="0">
                <StackLayout class="p-10 border"> 
                    <GridLayout>
                        <Label class="h3" text="Contact Information"></Label>
                    </GridLayout>
					<GridLayout columns="40,auto" rows="*,*">
						<Label col="1" row="0"></Label>
                        <Label col="1" row="1" class="body" text="121, Clear Water Bay Road
Clear Water Bay, Kowloon
HONG KONG
Tel: +852 1234 5678
Fax: +852 8765 4321
Email:confusion@food.net" textWrap="true"></Label>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</RadSideDrawer> -->
