<ActionBar title="Contact" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <GridLayout class="m-5" rows="auto">
            <StackLayout class="p-10 border">
                <Label class="h3" height="40" text="Contact Information"></Label>
                <StackLayout class="p-l-35">
                        <Label row="0" col="0" text="121, Clear Water Bay Road" class="list-group-item-heading"></Label>
                        <Label row="1" col="0" text="121, Clear Water Bay Road" class="list-group-item-heading"></Label>
                        <Label row="2" col="0" text="121, Clear Water Bay Road" class="list-group-item-heading"></Label>
                </StackLayout>>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>