<ActionBar title="Contact" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <GridLayout class="m-5" rows="auto">
            <StackLayout class="p-10 border">
                <Label class="h3" height="40" text="Contact Information"></Label>
                <StackLayout class="p-l-20">
                    <StackLayout class="p-l-20">
                            <Label text="121, Clear Water Baydsaw Road" ></Label>
                            <Label text="Clear Water Bay, Kowloon" ></Label>
                            <Label text="HONG KONG" ></Label>
                            <Label text="Tel: +852 1234 5678" ></Label>
                            <Label text="Fax: +852 8765 4321" ></Label>
                            <Label text="Email:confusion@food.net" ></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>